.active-tabs {
  color: #ff7846;
}

.active-tabs::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%)
}

.content {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 5% auto;
  padding: 10px;
}

.active-content {
  display: flex;
}